:root{
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-color: #FFFFFF;
    --acent-color: #2196F3;
    --logo-color: #000000;
    --bgc-color: #F5F4FA;
    --bgc-footer-color: #2F303A;
    --bgc-up-color: #2F303A;
}
/* Одиніз цветов логотипа #000000 */

/* Цвет основного текста #212121  */

/* Цвет вторичногоо текста  #757575 */

/* Цвет акцентированого текста #2196F3   */

/* Белий текст  #FFFFFF */

/* Акцентируваний фон #2196F3  */

/* Основной фон #F5F4FA */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.container{
width: 1170px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
outline: 2px solid red;
box-sizing: border-box;
}

body {
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    
}

header .container, nav{
    display: flex;
}

.list{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    
}

/* Header */
/* logo */
.logo{
    color:  var(--acent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    
}


.logo-black{
    color: var(--logo-color);
}


/* site nav */

.navi{
    display: flex;
}



.navi .item + .item{
    margin-left: 50px;
}
.navi-link{
    display: block;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;

}

.kontakt-link{
    padding-top: 32px;
    padding-bottom: 32px;
}


.navi-link:hover,
.navi-link:focus,
.kontakt-link:hover,
.kontakt-link:focus,
.active{
    color: var(--acent-color);
}

/* kontakt list */
header .kontakt{
    display: flex;
}
header .kontakt .item + .item{
    margin-left: 50px;
}
.kontakt-link{
    color: var(--second-text-color);
    font-weight: 500;
    line-height: 1.14;
footer    letter-spacing: 0.02em;
}

/* Footer */

footer{
    background-color: var(--bgc-footer-color);
}
.logo-white{
    color: var(--white-color);
}

.opis {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.kontakt-footer{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
}

.adress{
    color: var(--white-color);
}



/* Index */



/* hero */
.hero{
    background-color: var(--bgc-up-color);
    color: var(--white-color);
    text-align: center;
}
.hero-title{
    margin-top: 0px;
    margin-bottom: 0px;


font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero-button{
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 32px;
    display: inline-block;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    color: var(--white-color);
    background-color: var(--acent-color);

    font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;


}
/* section */
.sections{
    /* background-color: aquamarine; */
    margin-top: 94px;
}

.sections-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}


/* feature */

.invisible{
    color: var(--white-color);
    width: 0px;
    height: 0px;
    margin-bottom: 0px;
}

.feature-title{
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;
}

.feature-tekst{
color: var(--second-text-color);
line-height: 1.71;
}

/* Team */

.teamn{
    padding: 94px 15px;
}

.team-title{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 10px;
}

.team-text{
    color: var(--second-text-color);
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
} 






/* Portfolio */





.portfolio-button{
    color: var(--primary-text-color);
    background-color:var(--bgc-color);
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
   }
   
   .portfolio-button:hover,
   .portfolio-button:focus{
       color: var(--white-color);
    background-color:var(--acent-color);
   }
   
   .galery-title{
    color: var(--primary-text-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   }
   
   .galery-text{
    color: var(--second-text-color);
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   }

   address{
    margin-top: 20px;
   }